<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Strinova Playbook - Study</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="/static/styles/style.css">
    <link rel='stylesheet' type='text/css' media='screen' href="/static/styles/study.css">
    <link rel="icon" type="image/png" href="/static/images/logo.png">
</head>
<body>
    <nav class="navbar">
        <a href="home.html" class="logo"><img src="/static/images/logo.png" alt="Logo">Strinova Playbook</a>
        <a href="home.html">Home</a>
        <a href="study.html" class="active">Study</a>
        <a href="guides.html">Guides</a>
        <a href="playbook.html">Playbook</a>
        <a href="community.html">Community</a>
        <a href="support.html">Support Me!</a>
        <a href="account.html" class="cog"><img src="/static/images/cog.png" alt="Cog"></a>
    </nav>
    <div class="content">
        <div class="left-box">
            <div class="dropdown">
                <div class="select">
                    <span class="selected">404 Base</span>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    <li class="active-dropdown">404 Base</li>
                    <li>District 88</li>
                    <li>Port Euler</li>
                    <li>Space Laboratory</li>
                    <li>Windswept Town</li>
                </ul>
            </div>
            <h1>Sequence</h1>
            <div class="sequence-box">
                <div class="sequence-box-container">
                    <button onclick="ChangeScene(1)">
                        <div class="scene current">1</div>
                    </button>
                    <button onclick="AddScene()">
                        <div class="scene add-button">+</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="scene-loader">
            <img src="/static/images/maps/404_Base.png" class="map">
        </div>
    </div>
    <script src="/static/scripts/script.js"></script>
    <script src="/static/scripts/study.js"></script>
</body>
</html>